@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-color: white;
  --card-color-dark: #1f2937;
  --bg-color: #f1f3f6;
  --bg-color-dark: #111827;
  --text-color: #171717;
  --text-color-dark: #f1f3f6;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
}
